* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: myfontnormal;
}

@font-face {
    font-family: myfonthard;
    src: url(pacifico.woff);
}

@font-face {
    font-family: myfontnormal;
    src: url(ptsans.woff);
}

.col-1 {
    width: 6.333333333%;
    float: left;
    margin: 0 1%;
}

.col-2 {
    width: 14.66666667%;
    float: left;
    margin: 0 1%;
}

.col-3 {
    width: 23%;
    float: left;
    margin: 0 1%;
}

.col-4 {
    width: 31.33333333%;
    float: left;
    margin: 0 1%;
}

.col-5 {
    width: 39.66666667%;
    float: left;
    margin: 0 1%;
}

.col-6 {
    width: 48%;
    float: left;
    margin: 0 1%;
}

.col-7 {
    width: 56.33333333%;
    float: left;
    margin: 0 1%;
}

.col-8 {
    width: 56.33333333%;
    float: left;
    margin: 0 1%;
}

.col-9 {
    width: 73%;
    float: left;
    margin: 0 1%;
}

.col-10 {
    width: 81.33333333%;
    float: left;
    margin: 0 1%;
}

.col-11 {
    width: 89.66666667%;
    float: left;
    margin: 0 1%;
}

.col-12 {
    width: 98%;
    float: left;
    margin: 0 1%;
}

a {
    text-decoration: none;
}

section.top-info {
    background: rgb(41, 22, 22);
    width: 100%;
    float: left;
    padding: 4px 10px;
    position: fixed;
    padding-bottom: 25px;
}

#more-info li {
    display: inline-block;
    padding: 10px;
}

#more-info li a {
    color: burlywood;
    font-size: medium;
}

#more-info li a:hover {
    color: rgb(223, 190, 148);
    font-size: medium;
    font-weight: bold;
}

#account {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

#account a {
    font-weight: bold;
    color: blanchedalmond;
}

#account a:hover {
    font-weight: bolder;
    color: rgb(240, 198, 136);
}

section #title-banner {
    display: flex;
    justify-content: center;
    padding: 5% 25% 1% 0px;
    color: rgb(56, 9, 44);
    font-size: 30px;
}

section #register-form-container {
    display: flex;
    justify-content: center;
    padding-left: 6%;
    padding-bottom: 20%;
}

section #register-form {
    padding-right: 30%;
}

.form-action {
    padding: 6px 0px;
}

section .form-action input {
    width: 70%;
    margin-top: 3px;
    background: #585d66;
    border-radius: 3px;
    color: #E9E9E9;
    padding: 8px 6px;
    display: block;
    box-shadow: none;
    border: none;
    width: 100%;
    transition: border ease-in-out .5s;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

section .form-action input:active {
    width: 70%;
    margin-top: 3px;
    background: #585d663f;
    border-radius: 3px;
    color: #E9E9E9;
    padding: 8px 6px;
    display: block;
    box-shadow: none;
    border: none;
    width: 100%;
    transition: border ease-in-out .5s;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

section .form-action select {
    margin-top: 3px;
    background: #585d66;
    border-radius: 3px;
    color: #E9E9E9;
    padding: 8px 6px;
    display: block;
    box-shadow: none;
    border: none;
    width: 100%;
    transition: border ease-in-out .5s;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

section .ssa-box #agree-check {
    display: inline;
    width: 18px;
    height: 18px;
    margin: 15px 0px;
}

section .ssa-box label {
    font-size: 18px;
}

section .ssa-box label a:hover {
    color: rgb(90, 13, 71)
}

section .ssa-box #btnSubmit {
    width: 100%;
    box-shadow: none;
    border: none;
    background: linear-gradient( rgb(49, 145, 209), rgb(28, 86, 126));
    color: white;
    padding: 5px 10px;
    outline: none;
    border-radius: 25px;
}

section .ssa-box #btnSubmit:hover,
section .ssa-box #btnSubmit:active {
    background: blue;
    transition: background 0.2s;
    border: none;
    outline: none;
}

div #footer {
    background: linear-gradient( rgba(54, 19, 19, 0.781), rgba(22, 7, 7, 0.781), rgba(54, 19, 19, 0.781));
    min-height: 15vh;
    position: relative;
}

div #footer footer span {
    display: flex;
    justify-content: center;
    color: rgba(216, 207, 207, 0.829);
}

div #footer footer span a {
    cursor: pointer;
}